<h1>About Us</h1>
<p>We are a group of Stanites trying to develop a single point for all Stanites to have their contact information and post anything that is relevant in their lives. We will be making improvements to the site over time and would really appreciate any participation in developing a robust and useful internet portal.

We do point to all the three major domains of .com, .net and .org.

Thank You.</p>
